<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Information</title>
      <style>
         body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            color: #333;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>
<body>
  <h2>Book Information</h2>
  <ul>
    <li><strong>{{ book.title }}</strong> by {{ book.author }} released in <em>{{ book.year }}</em></li>
  </ul></body>
</html>